{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Query a Github Repository</h2>
<form action='/v1/repo/view' method='POST'>
    <div>
        <label>Organization Name:</label>
        {{with .Form.FieldErrors.org}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='org' value='{{.Form.Org}}'>
    </div>
    <div>
        <label>Repository Name:</label>
        {{with .Form.FieldErrors.repo}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='repo', value='{{.Form.Repo}}'>
    </div>
    <div>
        <input type='submit' value='Query Github'>
    </div>
</form>
{{end}}