{{define "title"}}Repository #{{.Repo.Name}}{{end}}

{{define "main"}}
{{with .Repo}}
<div class='snippet'>
    <div class='metadata'>
        <strong>{{.Name}}</strong>
        <div class="metadata">
            {{.Description}}
        </div>
        <div class="metadata">
            <ul>
                <li><a href='https://github.com/{{.Org}}/{{.Name}}/issues'>{{.OpenIssues}} issues</a></li>
                <li><a href='https://github.com/{{.Org}}/{{.Name}}/stars'>{{.Stars}} stars</a></li>
                <li><a href='https://github.com/{{.Org}}/{{.Name}}/forks'>{{.Forks}} forks</a></li>
            </ul>
        </div>
    </div>
    <div class='metadata'>
        <time>Created: {{humanDate .CreatedAt}}</time>
        <time>Language: {{.Language}}</time>
    </div>
</div>
{{end}}
{{end}}